
/*-- scss:defaults --*/
$body-bg:              #171419;
$body-color:           #f7e7ed;
$light:                #f7e7ed;
$dark:                 #171419;
$primary:              #ffd1df;
$secondary:            #e6a7bb;
$link-color:           #ffd1df;
$navbar-bg:            #241c22;
$navbar-fg:            #fff0f5;
$selection-bg:         #a65376;
$border-color:         #694354;
$code-bg:              #2a2026;
$code-color:           #ffc0d3;
$code-block-bg-alpha:  -.9;